<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://restwebcontainer20241124161643web.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/187d147b-dde6-46a0-9a71-eb038ae109ff/resourceGroups/DefaultRG/providers/Microsoft.ContainerRegistry/registries/RestWebContainer20241124161643</ContainerResourceId>
    <ContainerResourceName>RestWebContainer20241124161643</ContainerResourceName>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>restwebcontainer20241124161643.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/187d147b-dde6-46a0-9a71-eb038ae109ff/resourceGroups/DefaultRG/providers/Microsoft.Web/sites/RestWebContainer20241124161643Web</ResourceId>
    <ResourceGroup>DefaultRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://restwebcontainer20241124161643web.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c4f9377b-3874-4436-ba16-518973b267d2</ProjectGuid>
  </PropertyGroup>
</Project>